.screenRegistrationContainer {
    background: linear-gradient(135deg, #f0f4f8, #e4ebf2);
    height: 100vh;
    width: 100vw;
}

.registrationContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 450px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}

h2 {
    margin-top: 35px;
    margin-bottom: 0px;
    text-align: center;
    color: green;
}

form {
    flex: 1;
}

.formDetail {
    display: flex;
    flex-direction: column;
    margin: 50px 30px;
}

.formText {
    margin-bottom: 5px;
    font-size: 20px;
}

.formInput {
    height: 50px;
    padding-left: 20px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.formInput:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.39);
}

.buttonContainer {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    margin-bottom: 15px;
}

.submitButton {
    padding: 13px 13px;
    font-size: 15px;
    font-weight: 700;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.loginLinkContainer {
    text-align: center;
    margin-top: 10px;
}

.loginLink {
    font-style: italic;
    color: green;
}

.confirmContainer {
    margin-bottom: 25px;
}